/* common */
/* gentle font */
@import url('http://db.onlinewebfonts.com/c/04b98e0c477863adcdaae7d4d98c063a?family=GentleMonster');
/* google font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
* {margin: 0; padding: 0; font-family: 'Noto Sans KR', sans-serif; box-sizing: border-box;} 
/* font-family: "GentleMonster" */
li {list-style: none;}
a {text-decoration: none; color: inherit;}
.inner {
  width: 1400px;
  margin: 0 auto;
}
/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  overflow: hidden;
  line-height: 65px;
  background-color: rgb(18, 18, 18);
  color: #fff;
  transition: all 0.2s;
  z-index: 7;
}
.header__inner {
  width: 1820px;
  margin: 0 auto;
  position: relative;
}
.header .logo {
  font-size: 24px;
  font-family: "GentleMonster";
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;

}
.header .lnb {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  font-size: 0.85rem;
  text-align: center;
}
.header .lnb .sub-menu li:hover {
  text-decoration: underline;
}
.header .lnb>li {
  width: 120px;
  display: block;
}
.header .gnb {
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  position: absolute;
  top: 0;
  right: 0;
}
.header .gnb>li>a{
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.header .gnb li .language-icons{
  font-size: 17px;
}
.header .gnb li .shopping_cart-icons, 
.header .gnb li .search-icons,
.header .gnb li .search-close-icons ,
.header .gnb li .cart-close-icons {
  font-size: 24px;
  display: block;
}
.header .gnb li .search-close-icons , 
.header .gnb li .cart-close-icons {
  display: none;
}
.header .gnb li .cart-close-icons {
  transform: rotate(90deg);
}
.header .sub-menu {
  line-height: 45px;
}
/* cart */
.cart {
  position: fixed;
  top: 65px;
  right: 0;
  width: 0;
  overflow: hidden;
  background-color: rgb(18, 18, 18);
  border-top: 1px solid #eee;
  color: #fff;
  height: 100vh;
  transition: all 0.3s;
  z-index: 9;
}
.cart .cart__contents {
  margin-left: 20px;
  padding-top: 20px;
}
.cart .cart__contents .cart__title {
  margin-bottom: 30px;
}
.cart .cart__contents p {
  font-size: 14px;
}
.cart .cart__price {
  border-top: 1px solid #eee;
  position: absolute;
  bottom: 120px;
  margin-left: 20px;
  padding-top: 30px;
}
.cart .cart__price>div {
  width: 360px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.cart .cart__price button {
  width: 360px;
  display: block;
  padding: 5px 0;
  margin-bottom: 10px;
  background-color: #fff;
  border: none;
}
.cart .cart__price .grayBtn {
  background-color: #777;
  color: #fff;
}
.cart__contents ul>li {
  display: flex;
  margin-bottom: 5px;
}
.cart__contents ul>li img{
  width: 80px;
  height: 80px;
}
.cart__contents .text-area {
  padding-left: 10px;
  font-size: 10px;
  width: 70%;
}
.cart__contents .text-area p{
  font-size: 10px;
} 
.cart__contents .text-area .product__del {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

/* search */
.search {
  position: fixed;
  top: 65px;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgb(18, 18, 18);
  border-top: 1px solid #666;
  color: #fff;
  transition: all 0.3s;
  overflow: hidden;
  z-index: 8;
}
.search .search__title {
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  margin: 30px 0 10px
}
.search .input {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  color: #000;
  border: 1px solid #eee;
  border-radius: 10px;
  width: 500px;
  padding: 5px 10px 5px 20px;
}
.search .input input{
  background-color: transparent;
  outline: none;
  border: none;
}
.search__contents {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.search__contents ul {
  margin-right: 230px;
}
.search__contents .search__contents__title {
  margin-bottom: 20px;
  font-size: 20px;
}
.search__contents ul li {
  margin-bottom: 15px;
}
.search__contents ul li a{
  color: #ccc;
  font-size: 14px;
}
.search__contents .search__contents_rank {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  text-align: center;
  width: 430px;
}
.search__contents .search__contents_rank img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.search__contents .search__contents_rank p {
  font-size: 14px;
  color: #ccc;
}
/* fixed-btn */
.fixed-btn {
  position: fixed;
  bottom: 50px;
  right: 40px;
  z-index: 4;
}
.fixed-btn ul li {
  border: 1px solid #666;
  background-color: rgba(255, 255, 255, 0.9);
  color: #666;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  cursor: pointer;
  position: relative;
}
.fixed-btn .to-top {
  opacity: 0;
}
.fixed-btn .count-heart {
  position: absolute;
  top: -5px;
  right:  -8px;
  font-size: 13px;
  background-color: rgb(236, 79, 79);
  color: #fff;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
}
/* Header&search&cart&fixed-btn */
/* visual */
.visual {
  width: 100%;
  height: 650px;
  background: url(../images/main_img/main-visual-bg.jpg)no-repeat center center;
  position: relative;
}
.visual_bg{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 650px;
  opacity: 0.5;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 0%, rgba(2,0,39,1) 32%, rgba(18,22,65,1) 63%, rgba(144,144,144,1) 100%);
}
.visual .inner {
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
}
.visual .inner .swiper {
  position: relative;
}
.visual .inner .swiper-prev {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  left: -50px;
  color: #fff;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.visual .inner .swiper-next {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  right: -50px;
  color: #fff;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.visual .inner .swiper-pagination {
  position: absolute;
  bottom: -30px;
}
.visual .inner .swiper-pagination-bullet-active {
  background-color: #26d3c9;
}
.visual .inner .swiper-next i, 
.visual .inner .swiper-prev i {
  font-size: 55px;
}
.visual .inner .swiper-slide {
  position: relative;
  cursor: pointer;
}
.visual .inner .swiper-slide:hover img {
  filter: none;
}
.visual .inner .swiper-slide:hover .text-area {
  color: #fff;
  mix-blend-mode: normal;
  transition: all 0.4s;
  transform: translateY(-100px);
}
.visual .inner .swiper-slide:hover .text-area p:nth-child(2),
.visual .inner .swiper-slide:hover .text-area p:nth-child(3) {
  opacity: 1;
}

.visual .inner .swiper-slide .text-area p:nth-child(1) {
  font-size: 30px;
}
.visual .inner .swiper-slide .text-area p:nth-child(2) {
  font-size: 20px;
  opacity: 0;
  transition: all 0.3s;
}
.visual .inner .swiper-slide .text-area p:nth-child(3) {
  font-size: 14px;
  opacity: 0;
  transition: all 0.3s;
}

.visual .inner .swiper-slide img {
  filter: grayscale();
}
.visual .inner .swiper-slide-active img {
  filter: none;
}
.visual .inner .swiper-slide-active .text-area{
  transform: translateY(-100px);
}
.visual .inner .swiper-slide-active .text-area p:nth-child(2),
.visual .inner .swiper-slide-active .text-area p:nth-child(3) {
  opacity: 1;
}

.visual .inner .swiper-slide .text-area {
  position: absolute;
  top: 460px;
  left: 50px;
  font-weight: 700;
  color: #fff;
}

.visual .start {display: none;}

.visual .swiper__btn {
  position: absolute;
  bottom: -35px;
  left: 740px;
  color: #26d3c9;
  z-index: 11;
}
.visual .swiper__btn span {
  font-size: 18px;
}

/* ranking */
.rankRadio {display: none;}
#rankRadio1:checked ~ .text-area .rank ul .rank1 {height: auto;}
#rankRadio2:checked ~ .text-area ul .rank2 {height: auto;}
#rankRadio3:checked ~ .text-area ul .rank3 {height: auto;}
#rankRadio4:checked ~ .text-area ul .rank4 {height: auto;}
#rankRadio5:checked ~ .text-area ul .rank5 {height: auto;}
#rankRadio1:checked ~ .text-area ul .rank1 span {display: block;font-weight: 700;}
#rankRadio2:checked ~ .text-area ul .rank2 span {display: block;font-weight: 700;}
#rankRadio3:checked ~ .text-area ul .rank3 span {display: block;font-weight: 700;}
#rankRadio4:checked ~ .text-area ul .rank4 span {display: block;font-weight: 700;}
#rankRadio5:checked ~ .text-area ul .rank5 span {display: block;font-weight: 700;}
#rankRadio1:checked ~ .img-area .img-area-01 {display: flex;}
#rankRadio2:checked ~ .img-area .img-area-02 {display: flex;}
#rankRadio3:checked ~ .img-area .img-area-03 {display: flex;}
#rankRadio4:checked ~ .img-area .img-area-04 {display: flex;}
#rankRadio5:checked ~ .img-area .img-area-05 {display: flex;}


.ranking {
  margin-top: 150px;
}
.ranking .inner {
  display: flex;
  justify-content: space-between;
}
.ranking .text-area {
  width: 370px;
}
.ranking .ranking__title {
  font-size: 50px;
  font-weight: bold;
  line-height: 1.2;
}
.ranking .rank {
  margin-top: 20px;
}
.ranking .rank li {
  height: 45px;
  overflow: hidden;
  border-bottom: 1px solid #eee;
  transition: all 0.2s;
}.ranking .rank li span {
  margin: 10px 0;
  display: block;
}
.ranking .rank li .rank-hover__img a{
  font-size: 12px;
  text-align: end;
  margin-right: 10px;
  display: block;
}
.ranking .img-hover-area {
  display: none;
}
.ranking .img-area img {
  display: block;
}
.ranking .img-area .rank-img__left {
}
.ranking .img-area .rank-img__right img {
  margin-left: 10px;
}
.ranking .img-area .rank-img__right__top{
  display: flex;
  margin-bottom: 10px;
}
.ranking .img-area .rank-img__right__bottom {
  display: flex;
}
.ranking .img-area .rank-img__right__bottom div {
  width: 224px;
  margin-left: 10px;
}
.ranking .rank-img__right__bottom .logo {
  font-family: "GentleMonster";
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 5px;
}
.ranking .rank-img__right__bottom p:nth-child(2) {
  font-family: "GentleMonster";
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}
.ranking .rank-img__right__bottom p:nth-child(3) {
  font-size: 14px;
}

/* product */
.product {
  margin-top: 100px;
}
.product .product__title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: bold;
}
.product .product__tab {
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin-bottom: 30px;
  gap: 30px;
}
.product .product__tab span {
  text-align: center;
  color: #757575;
  width: 80px;
}
.product .product__tab span:nth-child(1) {
}
.product .product__tab .product__tab-01{
  color: #000;
  font-weight: bold;
}
.product .swiper-slide {
  width: 224px;
}
.product .swiper-slide img {
  display: block;
  width: 100%;
}
.product .swiper-slide:hover .prodect__img-hover{
  opacity: 1;
}
.product .prodect__img-area {
  position: relative;
}
.product .prodect__img-area .prodect__img-hover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all 0.3s;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.product .prodect__img-area .prodect__img-hover .material-icons {
  font-size: 30px;
}
.product .prodect__img-area .prodect__img-hover .favorite-icon {
  color: rgb(236, 79, 79);
  display: none;
}
.product .swiper-slide .prodect__text-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #757575;
  padding: 0 10px;
}
.product .swiper-slide .prodect__text-area p:nth-child(1) {
  font-size: 12px;
  font-weight: bold;
}
.product .swiper-slide .prodect__text-area p:nth-child(2) {
  font-size: 12px;
}
.product .glasses {
  display: none;
}

/* banner */
.banner {
  margin-top: 200px;
  width: 100%;
  height: 500px;
  background: url(../images/main_img/bannerBack.jpg)no-repeat center center;
  background-attachment: fixed;
  position: relative;
}
.banner__pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/main_img/video_cover_pattern.png) center center;
  background-color: rgba(0, 0, 0, 0.7); 
}
.banner__contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.banner__img {
  margin-bottom: 15px;
  opacity: 0.7;
}
.banner__img img{
  display: block;
  margin: 0 auto;
}
.banner__contents .banner__title{
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  margin-bottom: 5px;
}
.banner__contents .banner__desc{
  font-size: 16px;
  color: #fff;
}

/* collabo */
.collabo {margin-top: 200px;}
.collabo .collabo__title {
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 30px;
}
.collabo-container {
  width: 100%;
  display: flex;
}
.collabo-wrap {
  display: flex;
  width: 225px;
  overflow: hidden;
  transition: all 0.7s ease; 
}
.collabo-wrap.hover{
  width: 1250px;
}
.collabo-wrap .collabo__img {
  position: relative;
  z-index: 1;
}
.collabo-wrap .collabo__img>img {
  filter: brightness(0.5);
}
.collabo-wrap.hover .collabo__img>img{
  filter: none;
}
.collabo-wrap .none_hover-text{
  display: block;
  position: absolute;
  z-index: 9;
  top: 80px;
  left: 85px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  writing-mode: tb-rl;
  text-orientation: upright;
  mix-blend-mode: difference;
}
.collabo-wrap .none_hover-text img{
  margin-bottom: 10px;
}
.collabo-wrap.hover .none_hover-text{
  display: none;
}

.collabo__text {
  position: relative;
  width: 395px;
}
.collabo__text .collabo__main__text {
  font-family: "GentleMonster";
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  margin-top: 50px;
}
.collabo__text .collabo__sub__text {
  font-size: 14px;
  padding: 30px;
}
.collabo__text .collabo__bottom__text{
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #757575;
}

/* youtube */
.youtube {
  margin-top: 200px;
  margin-bottom: 100px;
}
.youtube .youtube__title{
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
}
.youtube .youtube__contents {
  display: flex;
  align-items: center;
  background-color: #eee;
}
.youtube__contents .video-area {
  width: 50%;
}
.youtube__text-area {
  width: 50%;
  padding: 0 30px;
  position: relative;
}
.youtube__text-area .youtube__text__title {
  font-size: 24px;
  font-weight: bold;
  font-family: 'GentleMonster';
  margin-bottom: 15px;
} 
.youtube__text-area .kor {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.youtube__text-area .eng {
  color: #757575;
  font-size: 16px;
}
.youtube__text-area .youtube__more {
  position: absolute;
  bottom: -100px;
  right: 180px;
  font-size: 12px;
  
}
.youtube__text-area .youtube__more span {
  font-size: 11px;
  color: #757575;
}

/* sns */
.sns {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 776px;height: 776px;
  flex-wrap: wrap;
  margin: 0 auto;
}
.sns img{
  width: 100%;
  display: block; 
}
.sns .img__box {
  width: 252px;
  height: 252px;
  overflow: hidden;
}
.sns .text__box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "GentleMonster";
  font-size: 50px;
  font-weight: bold;
}

/* footer */
.footer {
  background-color: rgb(27, 27, 27);
  color: #fff;
  padding-top: 50px;
  margin-top: 100px;
}
.footer__top {
  display: flex;
  justify-content: space-between;
}
.footer__top .footer__title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px
}
.footer__top .footer__title>p {
  font-family: "GentleMonster";
  font-weight: bold;
  font-size: 24px;
}
.footer__top .footer__search {
  display: flex;
  padding: 3px 10px;
  justify-content: space-between;
  border: 1px solid #eee;
  border-radius: 10px;
}
.footer__top .footer__search input {
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
}
.footer__top .customer {
  display: flex;
  gap: 70px;
}
.footer__top .customer ul {
  width: 100px;
}
.footer__top .customer ul .li__title {
  font-weight: bold;
  font-size: 12px;
}
.footer__top .customer ul li {
  font-size: 10px;
  margin-bottom: 15px;
} 
.footer__bottom {
  margin-top: 30px;
  padding: 20px 0;
  border-top: 1px solid #757575;
}
.footer__bottom .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  color: #757575;
}
.footer__bottom .inner .copyright {
  font-family: "GentleMonster";
}
.footer__bottom .inner .address {
  font-size: 10px;
  position: relative;
}
.footer__bottom .inner .address::before {
  content: '';
  width: 1px;
  height: 30px;
  background-color: #757575;
  position: absolute;
  top: 7px;
  left: -20px;
}
.footer__bottom .inner .address::after {
  content: '';
  width: 1px;
  height: 30px;
  background-color: #757575;
  position: absolute;
  top: 7px;
  right: -20px;
}
.footer__bottom .inner .mine {
  font-size: 11px;
}